.answer-text {
  color: rgb(89, 89, 152);
  font-weight: bold;
  text-align: right;
  font-size: 1.2rem;
  word-wrap: break-word;
    max-width: 50%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1rem;
  width: 100%;
  margin-bottom: 4rem;
}

.button-container button {
  width: 100%;
}

.ceramic-button {
  position: relative;
  background-color: #cd853f;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.ceramic-button:hover {
  background-color: #8b4513;
}

.ceramic-button:focus,
.glass-button:focus {
  outline: none;
}

.ceramic-button.active::after,
.glass-button.active::after
{
  content: "";
  border: none;
  display: block;
  width: 80%;
  height: 2px;
  background: inherit;
  position: absolute;
  bottom: -15px;
  left: 10%;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-header h2 {
  margin: 0;
}

.ceramic-history-card {
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
  color: #1a1a1a;
  display: flex;
  flex-direction: column;
  min-width: -moz-fit-content;
      /* Firefox */
  min-width: -webkit-fill-available;
      /* Samsung Internet */
   min-width: fit-content;
  width: 600px;
  box-sizing: border-box;
  max-height: -moz-fit-content;
      /* Firefox */
  max-height: fit-content;
}

.ceramic-history-card h2 {
  color: #1a1a1a;
}

.ceramic-history-card p {
  margin: 0;
}

.ceramic-history-card p {
  margin: 0;
}

.ceramic-history-card .notes {
  flex: 1;
  font-weight: bold;
}

.ceramic-history-card.rating-negative {
  background-color: #ce9696;
}

.ceramic-history-card.rating-neutral {
  background-color: #a09c9c;
}

.ceramic-history-card.rating-positive {
  background-color: #a7dca7;
}

input,
select,
textarea {
  height: 100px;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.glass-button {
  position: relative;
  background-color: #75b0c8;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.glass-button:hover {
  background-color: #1e90ff;
}

.kiln-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  padding: 20px;
}

.kiln-history-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.kiln-component {
  width: 100%;
}
.kiln-history-component {
  max-width: 66.66%;
  align-items: center;
  margin: 60px 0;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.notes-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  flex-wrap: wrap;
}

.notes-container span {
  display: block;
  word-wrap: break-word;

}

.notes-container span:first-of-type {
  margin-bottom: 10px;
}

.notes-container p{
  color: #1a1a1a;;
}

.outer-container {
  display: block;
  justify-content: space-between;
  max-height: -moz-fit-content;
      /* Firefox */
  max-height: fit-content;
  padding: 20px;
}

.question-answer-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(89, 89, 152);
}

.question-container {
  margin-bottom: 1.7em;
  width: 100%;
}

.question-text {
  text-align: left;
  max-width: 50%;
}

.question-input-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

table {
  width: auto;
  margin: 0;
  white-space: nowrap;
}

table,
th,
td {
  border: 1px solid #1a1a1a;
  border-collapse: collapse;
}

.table-notes-container {
  flex: 0 0 auto;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .outer-container {
    flex-direction: column;
  }

  .table-notes-container,
  .notes-container {
    max-height: fit-content;
    margin: 10px 0;
    flex: 0 0 100%;
  }

    .ceramic-history-card {
      width: 100%;
    }

    .kiln-component,
    .kiln-history-component {
      max-width: 100%;
    }

  .table-notes-container table {
    width: 100%;
    box-sizing: border-box;
  }
}

