.answer-text {
  /* Add your styles here. For example: */
  color: rgb(89, 89, 152);
  font-weight: bold;
  text-align: right;
  font-size: 1.2rem;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1rem;
}

.button-container button {
  width: 100%;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-header h2 {
  margin: 0;
}

.ceramic-history-card {
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
  color: #1a1a1a;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;/
}

.ceramic-history-card h2 {
  color: #1a1a1a;
}

.ceramic-history-card p {
  margin: 0;
}

.ceramic-history-card p {
  margin: 0;
}

.ceramic-history-card .notes {
  flex: 1;
  font-weight: bold;
}

.ceramic-history-card.rating-negative {
  background-color: #ce9696;
}

.ceramic-history-card.rating-neutral {
  background-color: #a09c9c;
}

.ceramic-history-card.rating-positive {
  background-color: #a7dca7;
}

input,
select,
textarea {
  height: 50px;
  text-align: center;
  font-size: 1.2rem;
}

.kiln-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  /* This will make the wrapper take the full height of the viewport */
  padding: 20px;
  /* Add some padding to prevent the content from sticking to the edges */
}


.kiln-component,
.kiln-history-component {
  flex: 1;
  /* This will make the components take equal space */
  margin: 60px 0;
  /* This will add a gap between the components */
}

.notes-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.notes-container span:first-of-type {
  margin-bottom: 10px;
}

.notes-container p{
  color: #1a1a1a;;
}

.outer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.question-answer-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(89, 89, 152);
}

.question-container {
  margin-bottom: 1.7em;
}

.question-text {
  text-align: left;
}

.question-input-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

table {
  width: auto;
  margin: 0;
  white-space: nowrap;
}

table,
th,
td {
  border: 1px solid #1a1a1a;
  border-collapse: collapse;
}

.table-notes-container {
  flex: 0 0 auto;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .outer-container {
    flex-direction: column;
  }

  .table-notes-container,
  .notes-container {
    margin: 10px 0;
    flex: 0 0 100%;
  }

  .table-notes-container table {
    width: 100%;
    /* Make the table take the full width */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
  }
}