$drb-light-blue: rgb(63, 120, 167);
$drb-blue: #072f49;
$drb-gold: rgb(255, 215, 98);


$happy-green: rgba(232, 250, 236, 0.945);
$warn-yellow: rgb(255, 236, 178);

$table-color: $drb-blue;
$banded-row-dark: rgb(186, 196, 218);
$sidebar-color: rgb(186, 196, 218);

$hover: rgba(172, 172, 172, 0.541);
$selected-row: $drb-gold;
$white: #fff;


//$card-header: $drb-blue;
$accordion-header: #0B4D78;

 $card-header: #3f78a7;
 $card-header-companion: #3FA7A2;

//   Danger colors
 $danger-red: rgb(210, 35, 42);
 $secondary-danger: #E06666;

 // Analogous color to Danger
 $warm-orange: rgb(210, 123, 35);

