/* Remove arrows from number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Style inputs */
input[type="number"] {
  width: 70px;
  height: 30px;
  margin-right: 10px;
  text-align: center;
  /* Center the text */
}

/* Center input group */
.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Take up full viewport height */
}

/* Style table */
table {
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 40px;
}



/* Style table headers */
th {
  background-color: #504d4d;
  padding: 5px;
  font-size: 0.8em;
}

/* Style table cells */
td {
  padding: 5px;
  text-align: center;
  font-size: 0.8em;
}

.show-more-info {
  max-width: 600px;
  /* Set maximum width */
  margin: auto;
  /* Center the div */
  text-align: center;
  /* Center the text */
}

.show-more-info-section {
  margin-top: 50px;
  display: flex;
  /* Use flexbox */
  flex-direction: column;
  /* Arrange children in a column */
}