.falling-letters-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.falling-letter {
  position: absolute;
  top: 0;
  font-size: 50px;
  animation: fall 5s linear infinite;
  color: gold;
}

@keyframes fall {
  to {
    transform: translateY(calc(100vh - 50px));
  }
}